.body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(109, 107, 107);

    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: rgb(70, 12, 70);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgb(245, 138, 138);
        border-radius: 10px;
        border: 2px solid rgb(245, 138, 138);
    }
}

.bgTopo{
    background-color: rgb(32, 28, 28);
}

.voltar{
    color: rgb(165, 89, 241);
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-bottom: solid rgb(165, 89, 241);
    cursor: pointer;

    &:hover {
        color: #f58a8a !important;
        border-bottom: solid #f58a8a;
    }
}

.legenda {
    color: rgb(52, 17, 52);
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.fotoDesenho {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 285px;
    max-height: 285px;
    border: solid rgb(82, 52, 112);
    cursor: zoom-in;
}

.expandir {
    position: relative;
    margin-top: 30px;
    transform: scale(2);
    transition: 1.5s;
    z-index: 1;
}

.hrDark {
    color: #ee0909;
}

.copyDark {
    color: #f1eaea;
}

@media (max-width: 600px) {
    .expandir {
        transform: scale(1.2);
    }
}