.body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(109, 107, 107);
}
.body::-webkit-scrollbar {
  width: 8px;
}
.body::-webkit-scrollbar-track {
  background-color: rgb(70, 12, 70);
}
.body::-webkit-scrollbar-thumb {
  background-color: rgb(245, 138, 138);
  border-radius: 10px;
  border: 2px solid rgb(245, 138, 138);
}

.bgTopo {
  background-color: rgb(32, 28, 28);
}

.voltar {
  padding-top: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
}

.legenda {
  color: rgb(52, 17, 52);
  padding-top: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.fotoDesenho {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 285px;
  max-height: 285px;
  border: solid rgb(82, 52, 112);
  cursor: zoom-in;
}

.expandir {
  position: relative;
  margin-top: 30px;
  transform: scale(2);
  transition: 1.5s;
  z-index: 1;
}

.hrDark {
  color: #ee0909;
}

.copyDark {
  color: #f1eaea;
}

@media (max-width: 600px) {
  .expandir {
    transform: scale(1.2);
  }
}
html,
body {
  margin: 0px;
  padding: 0px;
  transition: 2s;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #460c46;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #f58a8a;
  border-radius: 10px;
  border: 2px solid #f58a8a;
}

.dark {
  background-color: #000000;
}

.leight {
  background-color: #f1eaea;
}

.logo {
  color: #460c46;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 300px 0px 15px;
}

.fixar {
  position: fixed;
  top: 40px;
  margin-top: -2.5em;
  padding-top: 0px;
  transition: 2s;
}

.menuzinho {
  border: 3px rgb(122, 12, 122);
  border-radius: 10px;
  border-style: inset;
  width: 10px;
  height: 15px;
  transition: 2s;
}

.menuzinhoDark {
  background-color: #000000;
}

.menuzinhoLeight {
  background-color: #f1eaea;
}

.linksMenu:hover {
  color: #3a326a !important;
}

.linksMenuDark {
  text-decoration: none;
  color: #f1eaea !important;
}
.linksMenuDark:hover {
  color: #3a326a !important;
}

.contatos {
  margin-bottom: 5px;
}
.contatos .linksC {
  text-decoration: none;
  color: #000000;
}
.contatos .linksC:hover {
  color: #472e2e;
}
.contatos .iconsMenu {
  vertical-align: unset;
  padding-left: 9px;
  color: #3a326a;
}

.sun {
  cursor: pointer;
  color: rgb(79, 67, 10);
}
.sun:hover {
  color: rgb(248, 216, 31);
}

.ativoSun {
  color: rgb(242, 157, 60);
  transform: scale(1.4);
}

.moon {
  cursor: pointer;
  color: rgb(12, 11, 72);
  transform: scale(0.9) !important;
}
.moon:hover {
  color: rgb(49, 47, 194);
}

.ativoMoon {
  color: rgb(44, 66, 235);
  transform: scale(1.3) !important;
}

.dropdown-menu {
  min-width: 7rem !important;
}
.dropdown-menu[data-bs-popper] {
  top: 68% !important;
  left: 20px !important;
  width: 30px;
  background-color: #f58a8a;
}

#sobreMim {
  padding-top: 70px;
}

.titulo {
  color: #1310c9;
  font-family: "Courier New", Courier, monospace;
}

.subtitulo {
  color: #ad3aad;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.foto {
  float: left;
  width: 150px;
  height: 145px;
  margin-right: 10px;
}

.btnLeiaMaisDark {
  float: right;
  background-color: #000000;
  color: #f1eaea;
  border: 2px #ee0909;
  border-radius: 0.25rem;
  border-style: inset;
  margin: 5px 60px;
  transition: 1s;
}

.btnLeiaMaisLeight {
  float: right;
  background-color: #f1eaea;
  border: 2px #ee0909;
  border-radius: 0.25rem;
  border-style: inset;
  margin: 5px 60px;
  transition: 1s;
}

.logos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.paragrafosDark {
  color: #f1eaea;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: #f58a8a;
}

#leiaMais {
  display: none;
}

#leiaMais2 {
  display: none;
}

#leiaMais3 {
  display: none;
}

#leiaMais4 {
  display: none;
}

#leiaMais5 {
  display: none;
}

#leiaMais6 {
  display: none;
}

.hrDark {
  color: #ee0909;
}

.hrLeight {
  height: 2px !important;
  color: #1310c9;
}

.copyDark {
  color: #f1eaea;
}

.copyLeight {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .logo {
    display: none;
  }
  .menuzinho {
    margin: 20px;
  }
}
@media (max-width: 1200px) and (max-width: 700px) {
  #btnLeiaMais {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=main.css.map */