body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(70, 12, 70);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(245, 138, 138);
    border-radius: 10px;
    border: 2px solid rgb(245, 138, 138);
}

.body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.bg {
    background-color: black;
}

.logo {
    color: rgb(70, 12, 70);
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 300px 0px 15px;
}

.menuzinho {
    background-color: black;
    border: 3px rgb(122, 12, 122);
    border-radius: 10px;
    border-style: inset;
    width: 10px;
    height: 15px;
}

.sun {
    color: rgb(248, 208, 31);
}

.sun:hover {
    color: rgb(248, 244, 31);
}

.hr {
    color: rgb(238, 9, 9);
}

.titulo {
    color: rgb(19, 16, 201);
    font-family: 'Courier New', Courier, monospace;
}

.subtitulo {
    color: rgb(173, 58, 173);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card-bodys {
    background-color: black;
}

.card-bodys:hover {
    border: 1px rgb(245, 138, 138);
    border-radius: 0.25rem;
    border-style: outset;
    padding: 4px;
}

#leiaMais {
    display: none;
}

#leiaMais2 {
    display: none;
}

#btnLeiaMais {
    background-color: black;
    border: 2px rgb(19, 16, 201);
    border-radius: 0.25rem;
    border-style: inset;
    margin: 5px 60px 5px 60px;

}

#btnLeiaMais2 {
    background-color: black;
    border: 2px rgb(19, 16, 201);
    border-radius: 0.25rem;
    border-style: inset;
    margin: 5px 60px 5px 60px;

}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
    max-height: 250px;
    width: auto;
    height: auto;
}

.cardPS {
    background-color: black;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: rgb(245, 138, 138);
}

.centralizarBruna {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}