body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(70, 12, 70);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(245, 138, 138);
    border-radius: 10px;
    border: 2px solid rgb(245, 138, 138);
}

.body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(109, 107, 107);
}

.bg{
    background-color: rgb(32, 28, 28);
}

.hr {
    color: rgb(238, 9, 9);
}

.subtitulo {
    color: rgb(77, 19, 77);
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 250px;
    width: auto;
    height: auto;
}
.card-img-top:hover {
    max-width: 1000px;
    max-height: 350px;
}
.card-img-top1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 250px;
    width: auto;
    height: auto;
}
.card-img-top1:hover {
    max-width: 800px;
    max-height: 350px;
}
.card-img-top2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 250px;
    width: auto;
    height: auto;
}
.card-img-top2:hover {
    max-width: 500px;
    max-height: 450px;
}

.centralizarBruna {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}