* {
    font-weight: bold;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(70, 12, 70);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(245, 138, 138);
    border-radius: 10px;
    border: 2px solid rgb(245, 138, 138);
}

.body {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 600px) {
    .logo { display: none;}
    .menuzinho { margin: 20px;}
}

.bg {
    background-color: rgb(253, 249, 249);
}

.logo {
    color: rgb(70, 12, 70);
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 300px 0px 15px;
}

.menuzinho {
    background-color: rgb(253, 249, 249);
    border: 3px rgb(122, 12, 122);
    border-radius: 10px;
    border-style: inset;
    width: 10px;
    height: 15px;
}

.moon {
    color: rgb(10, 9, 112);
}

.moon:hover {
    color: rgb(49, 47, 194);
}

.hr {
    color: rgb(13, 11, 138);
}

/* .fixar {
    position: fixed;
    left: 110px;
    top: 41px;
    width: 8em;
    margin-top: -2.5em;
    background-color: rgb(253, 249, 249);
    padding-top: 0px;
}

#sobreMim {
    padding-top: 70px;
} */

.titulo {
    color: rgb(19, 16, 201);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.subtitulo {
    color: rgb(136, 15, 136);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card-bodys {
    background-color: white;
}

.card-bodys:hover {
    border: 2px rgb(245, 138, 138);
    border-radius: 0.25rem;
    border-style: outset;
    padding: 6px;
}

#leiaMais {
    display: none;
}

#leiaMais2 {
    display: none;
}

#leiaMais3 {
    display: none;
}

#leiaMais4 {
    display: none;
}

#btnLeiaMais {
    background-color: white;
    border: 2px rgb(238, 9, 9);
    border-radius: 0.25rem;
    border-style: inset;
    margin: 5px 60px 5px 60px;
}

#btnLeiaMais2 {
    background-color: white;
    border: 2px rgb(238, 9, 9);
    border-radius: 0.25rem;
    border-style: inset;
    margin: 5px 60px 5px 60px;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
    max-height: 250px;
    width: auto;
    height: auto;
}

.cardPS {
    background-color: white;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: rgb(230, 67, 67);
}

.centralizarBruna {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}